/*Heading Styles*/
header {

}

html{
	font-style: sans-serif;
	color: black;
}

body{
	width: 70%;
	margin: auto;
}
article{

}
/*Nav Bar styling*/
#navBar {
	width: 100%;
	display: block;
	z-index: 1000;
	position: fixed;
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
 nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
nav li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
body {
  margin-left: 0px;
}
.Information {
	padding-top: 30px;
	text-align: center;
}
.Information p {
	margin: 0 100px 0 100px;
}
.Supports h2 {
	text-align: center;
}
h1 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 5%;
}
.Testimonials{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

article li{
	text-align: center;
	list-style: none;
}

article ul{
	margin-bottom: 4%;
}


article div{
	margin-left: 2%;
	margin-right: 2%;
}



h2{
	margin-top: 4%;
}
footer {
	text-align: center;
}
