/*Heading Styles*/
header {

}
/*Nav Bar styling*/
#navBar {
	width: 100%;
	display: block;
	z-index: 1000;
	position: fixed;
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
 nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
nav li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navAlignRight {
	float: right;
}
/*Body Stylings*/
body {
	margin-left: 0px;
}
body section.Hours {
	padding-top: 30px;
	float: left;
}
body section.Hours h1 {
	margin-bottom: 0px;
}
body section.Hours p {
	margin-top: 0px;
}
body section.BookOverPhone {
	float: left;
}
body section.SlideShow {
	float: right;
}
.lineBreakOneDiv {
	width: 100%;
	height: 25px;
	border-bottom: 1px solid black;
	text-align: center;
}
.lineBreakOneSpan {
	font-size: 40px;
 	background-color: #fff;
  padding: 0 200px;
}
body section.VideoPlayer {

}
body section.VideoText {
	text-align: center;
	float: right;
}
.lineBreakTwoDiv {
	width: 100%;
	height: 25px;
	border-bottom: 1px solid black;
	text-align: center;
}
.lineBreakTwoSpan {
	font-size: 40px;
 	background-color: #fff;
  padding: 0 200px;
}
body section.Subscribe {
	text-align: center;
}
.lineBreakThreeDiv {
	width: 100%;
	height: 25px;
	border-bottom: 1px solid black;
	text-align: center;
}
.lineBreakThreeSpan {
	font-size: 40px;
 	background-color: #fff;
  padding: 0 200px;
}
.YouDeserveIt {
	background-color: #f6f6f6;
}
.YouDeserveImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #f6f6f6;
}
footer {
	text-align: center;
	background-color: #f6f6f6;
}
